@media (max-width: 1100px) {
  #plate--page {
    height: calc(100vh - 83.8px);
  }

  section.area {
    min-height: 2700px;
  }

  section .area__content ._header ._title {
    background-image: url(../img/mo/title_m.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 720px;
    -webkit-text-size-adjust: none;
    aspect-ratio: 720/311;
  }

  section .area__content ._header ._period {
    background-image: url(../img/mo/subtitle_m.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 514.5px;
    height: 70.5px;
  }

  section .area__content ._content {
    flex-direction: column;
  }

  section .area__content ._content ._item_right {
    background-image: url(../img/mo/block-right_m.png);
    width: 661px;
    height: 1169px;
  }

  section .area__content ._content ._item_left {
    background-image: url(../img/mo/block-left_m.png);
    width: 661px;
    height: 647px;
    display: block;
  }

  .phone-input-container {
    margin: 0px;
    left: 96px;
    top: 224px;
    position: relative;
  }

  .agreement {
    margin: 0px;
    left: 96px;
    top: 244px;
    position: relative;
  }

  section .area__content ._content ._item_left .btn_left {
    margin: 0px;
    top: 289px;
    width: 500px;
    left: 96px;
  }

  section .area__content ._content ._item_left .btn_left_down {
    margin: 0px;
    position: relative;
    top: 354px;
    width: 277px;
    left: 204px;
  }

  section .area__content ._content ._item_right .btn_up {
    width: 259px;
    left: 212px;
    top: 500px;
  }

  section .area__content ._content ._item_right .btn_down {
    width: 257px;
    left: -49px;
    top: 1043px;
  }
}

@media (max-width: 768px) {
  section.area {
    min-height: 1350px;
  }

  section .area__content ._header ._title {
    width: 360px;
  }

  section .area__content ._header ._period {
    width: 257.25px;
    height: 35.25px;
    margin-top: 0px;
  }

  section .area__content ._content ._item_right {
    width: 330.5px;
    height: 584.5px;
  }

  section .area__content ._content ._item_left {
    width: 330.5px;
    height: 323.5px;
  }

  .phone-input-container {
    width: 258.5px;
    left: 32px;
    top: 85px;
  }

  .phone-input-container select {
    font-size: 15px;
    width: 90.5px;
  }

  .phone-input-container input {
    font-size: 15px;
  }

  .phone-input-container input::placeholder {
    font-size: 15px;
  }

  .agreement {
    font-size: 15px;
    left: 32px;
    top: 100px;
  }

  section .area__content ._content ._item_left .btn_left {
    width: 250.6px;
    left: 48px;
    top: 117px;
  }

  section .area__content ._content ._item_left .btn_left_down {
    width: 139px;
    left: 102px;
    top: 146px;
  }

  section .area__content ._content ._item_right .btn_up {
    width: 127.5px;
    left: 108px;
    top: 250px;
  }

  section .area__content ._content ._item_right .btn_down {
    width: 128.5px;
    left: -24px;
    top: 522px;
  }

  section .area__content .detail {
    width: 187px;
    height: 78.25px;
    padding-top: 50px;
    margin-top: 50px;
  }
}